.header-style{
    width: 100%;
}

.bg-image-plastering {
    background-image: url(../assets/plasterheader2.jpg);
    background-size: cover;
    height: 280px;
    background-position: center;
}

@media only screen and (min-width : 768px) {
    .bg-image-plastering { 
        height: 320px; 
    }
  }
  
  @media only screen and (min-width : 1200px) {
    .bg-image-plastering { 
        height: 400px; 
        background-position-y: -100px; 
    }
  }