.hero-image-plastering {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url(../assets/plasterheader2.jpg);
    background-size: cover;
    height: 350px;
    background-position: center;
    padding-top: 12px;
}

.hero-form {
    display: none;
    color:black;
    background-color:white;
    border-radius: 8px;
    padding:1%;
    width: 40%;
    margin-left:5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-form-button {
    background-color: #de9b38;
    border-color: #de9b38;
    color:black;
    transition-duration: 0.4s;
    outline: none;
}

.hero-form-button:hover {
    background-color: #EBC389;
    border-color: #EBC389;
    color: black;
}

.hero-form-button:focus {
    background-color: #EBC389;
    border-color: #EBC389;
    color: black;
    outline: none;
}

.hero-form-field {
    background: rgb(247, 250, 251);
}

.header {
    color:#0f477b;
    font-size: 30px;
    padding-bottom: 10px;
}

@media only screen and (min-width : 428px) {
    .hero-form {
        display: block;
    }
}

@media only screen and (min-width : 768px) {
    .hero-image-plastering { 
        height: 350px; 
    }
}
  
@media only screen and (min-width : 1200px) {
    .hero-image-plastering { 
        height: 380px;
    }
}